body{
  background-color: rgb(240, 240, 240);
  font-family: courier new;
  margin: 25.0px
}

img {
  width: 100%;
}

p{
  color:gray;
}

.p1 {
  margin:100px;
  font-size: 10;
  color: gray;
}

article {
  margin: 100px;
  font-size: 16.0;
}

h1 {
  margin: 76.0px 50.0px 50.0px 50.0px;
  font-size: 38.0;
  color: gray;
}

h2 {
  font-size: 22.0;
  margin-left: 60.0px;
}

h3 {
  font-size: 22.0;
  margin-left: 60.0px;
  color:gray;
}

footer {
  text-align: right;
  padding-right: 80px;
}

table {
  border: 1px solid white;
  padding: 10px;
  margin: 0.0px 40px 40px 40px;
}

th {
  border: 1px solid white;
  padding: 10px 25px 10px 25px;
}

td {
  border: 1px solid white;
  padding: 10px 25px 10px 25px;
}

#blueBorder1 {
  border:2px solid rgb(26, 255, 255);
  margin:0px 30px 0px 60px; 
}

#blueBorder2 {
  border:2px solid rgb(26, 255, 255);
  margin-left:350px; 
  margin-right:60px;
}

#blueBorder3 {
  border:2px solid rgb(26, 255, 255);
  margin-left:50px; 
  margin-right:300px;
}

ol {
  margin-left:150px;
  margin-right:20px;
  margin-bottom:50px;
}

.no-border-section {
  margin: 100;
}

.button {
  display: block;
  border: 1px solid #4DF564;
  height: 40px;
  width: 80px;
  text-align: center;
  border-radius: 3 px;
  padding: 0px 20px 12px 20px;
  color: white;
}

.bottom-nav {
  display: inline;
  text-decoration: none;
  
}

#photo1 {
  float:right; 
  width:450px; 
  margin:25px 40px 45px 125px;
}  

#photo2 {
  float:left; 
  width:400px; 
  margin:0px 80px 50px 80px;
}

#photo3 {
  float:right; 
  width:400px; 
  margin:100px;
}

#photo4{
  float:left; 
  width:400px; 
  margin:50px 80px 50px 80px;
}

#photo5{
  float:right; 
  width:400px; 
  margin:100px;
}

#photo6{
  float:center;
  width:650px;
  margin:100px;
}
